body{
    background-color: #f0f0f0;
}

/* NAVBAR */
.bg-light{
    background-color: transparent !important;
    }

    .bg-light.scrolled {
        background-color: #f0f0f0 !important;

        .navbar-brand{
            color: #0D121E;
        }

        .nav-item .nav-link{
            color: #0D121E;
        }

        .navbar-toggler .navbar-toggler-icon {
            filter: invert(1);
          }
      }

  .navbar-brand{
    color: #F0F0F0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 34px;
    padding-top: 10px;
  }

  .navbar-nav .nav-item .nav-link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #f0f0f0;
    padding-top: 50px;
    margin-right: 40px;
  }

  .offcanvas-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 30px;
    padding-top: 10px;
    color: #0D121E;
  }

  @media only screen and (max-width: 767px){
    .offcanvas-header, .offcanvas-body{
    background-color: #f0f0f0;
  }

  .navbar-nav .nav-item .nav-link{
    font-size: 18px;
    color: #0D121E;
    padding-top: 0;
    margin-right: 0px;
    margin-top: 10px;
  }
}
/* END OF NAVBAR */

/* HERO */
.hero .container{
    min-height: 100vh;
    width: 100%;
}

#hero{
    background-image: url(hero-img.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#hero::after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    height: 100%; width: 100%;
    background-color: black;
    opacity: .6;
    z-index: -1;
}

#hero h1{
    width: 50%;
    color: #F0F0F0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    position: relative;
    font-weight: bold;
}

#hero p{
    width: 50%;
    color: #F0F0F0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
}

@media only screen and (max-width: 767px){
    #hero h1{
        width: fit-content;
    }

    #hero p{
        width: 60%;
    }
}
/* END OF HERO */

/* ADMISSION SECTION */
.adm .container{
    width: 100%;
    min-height: 400px;
}

#admission{
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#admission h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    color: #61927F;
}

#admission p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #0D121E;
}

@media only screen and (max-width: 767px){
    #admission h1{
        font-size: 24px;
        margin-bottom: 25px;
    }

    #admission p{
        font-size: 16px;
    }
}
/* END OF ADMISSION SECTION */

/* ABOUT US SECTION */
.abt .container{
    width: 100%;
    min-height: 100vh;
}

#about-us{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-us .abt-img{
    display: flex;
    position: relative;
    background-image: url(about-us.jpg);
    background-size: cover;
    /* background-position: left; */
    width: 50%;
    height: 500px;
    float: left;
}

#about-us h1{
    color: #61927F;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    float: left;
    padding-left: 30px;
    position: relative;
    font-weight: bold;
    width: 50%;
    margin-bottom: 50px;
}

#about-us p{
    position: relative;
    float: left;
    width: 50%;
    padding-left: 30px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 7.1%;
}

#about-us .abt-btn{
    float: right;
    background-color: #61927F;
    color: #f0f0f0;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    width: 255px;
    height: 40px;
    border: none;
    margin-bottom: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

#about-us .abt-btn:hover{
    background-color: #55776A;
}

@media (min-width: 993px) and (max-width: 1200px){
    #about-us .abt-img{
        height: 450px;
    }
    #about-us h1{
        font-size: 40px;
    }
    #about-us p{
        font-size: 18px;
        margin-bottom: 4.5%;
    }
}
@media only screen and (max-width: 992px){
    #about-us .abt-img{
        height: 50vh;
        float: none;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    #about-us h1{
        float: none;
        font-size: 32px;
        width: 100%;
        padding-left: 0;
        margin-bottom: 10px;
    }

    #about-us p{
        padding-left: 0;
        float: none;
        font-size: 16px;
        width: 100%;
        margin-bottom: 20px;
    }

    #about-us .abt-btn{
        width: 155px;
        height: 40px;
    }
}
/* END OF ABOUT US SECTION */

/* BENEFIT SECTION */
#benefit .container{
    width: 100%;
    min-height: 400px;
}

#benefit{
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #61927F;
    background-size: cover;
    color: #F0F0F0;
    text-align: center;
}

#benefit h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#benefit p{
    font-family: Arial, Helvetica, sans-serif;
}

#benefit .bnf-btn{
    background-color: transparent;
    color: #f0f0f0;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    width: 160px;
    height: 40px;
    border: 2px solid #F0F0F0;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#benefit .bnf-btn:hover{
    color:#61927F;
    background-color:#F0F0F0;
}

    /* S-MD CONTENT */
    #benefit .carousel-inner h1{
        margin-top: 120px;
    }
    #benefit .carousel-inner p{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    /* END OF S-MD CONTENT */

    /* LARGE CONTENT */
        #benefit .c .bnf-btn{
        margin-top: 42px;
        }

        #benefit .txt-con{
        display: flex;
        margin: 0;
        }

        #benefit .txt-con p{
        max-width: 60%;
        margin: auto;
        }

        #benefit .txt-con .b h1{
        margin-bottom: 54px;
        }

        #benefit .txt-con > div {
        flex: 1;
        }
    /* END OF LARGE CONTENT */

    /* CAROUSEL CONTROL */
    #benefit .carousel-control-prev,
    #benefit .carousel-control-next {
        padding-top: 200px;
        position: absolute;
        margin-top: 0;
    }

    #benefit .carousel-control-prev {
        padding-left: 0;
    }

    #benefit .carousel-control-next {
        padding-right: 0;
    }   
    /* END OF CAROUSEL CONTROL */
/* END OF BENEFIT SECTION */

/* OUR SERVICES SECTION */
.services .container{
    min-height: 110vh;
    width: 100%;
}

#our-services{
    position: relative;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#our-services .a-img{
    background-image: url(ms4-advising.jpg);
}

#our-services .b-img{
    background-image: url(the-research-year.jpg);
}

#our-services .c-img{
    background-image: url(lor-session.jpg);
    
}

.service-a .a-img,
.service-b .b-img,
.service-c .c-img {
  background-size: cover;
  position: relative;
  display: flex;
  width: 350px;
  height: 250px;
  margin-bottom: 20px;
}

#our-services .srv-con{
    display: flex;
    align-items: center;
    justify-content: center;
}

#our-services .service-title h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #61927F;
    text-align: center;
    margin: 0;
    font-weight: bold;
    margin-bottom: 50px;
}

#our-services p{
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #0D121E;
}

#our-services h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    color:#0D121E;
    font-weight: bold;
}

#our-services .srv-btn{
    background-color: #61927F;
    color: #f0f0f0;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    width: 160px;
    height: 40px;
    border: none;
    float: right;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

#our-services .srv-btn:hover{
    background-color: #55776A;
}

#our-services .service-c .srv-btn{
    margin-top: 24px;
}

#our-services .srv-con > div {
    flex: 1;
    }

    @media only screen and (max-width: 992px){
        #our-services .srv-con{
            display:inline;
            /* padding-bottom: 50px; */
        }

        .service-a, .service-b, .service-c {
            margin-left: auto; /* Mengatur margin kiri agar konten sejajar ke kanan */
            height: 30vh;
        }

        .service-a .a-img, .service-b .b-img, .service-c .c-img {
            background-size: cover;
            position: relative;
            display: flex;
            float: left;
            width: 150px;
            height: 150px;
            margin-right: 20px;
        }

        #our-services .service-title h1{
            font-size: 24px;
            margin-bottom: 5vh;
        }

        #our-services h1{
            font-size: 20px;
            width: 100%;
        }

        #our-services p{
            font-size: 12px;
            width: 100%;
            margin-left: auto;
        }

        #our-services .srv-btn{
            font-size: 12px;
            width: 100px;
            height: 30px;
            float: right;
            margin: 0;
        }

        #our-services .service-c .srv-btn{
            margin-top: 0;
        }
    }
/* END OF OUR SERVICES SECTION */

/* TEAM SECTION */
.team .container{
    min-height: 100vh;
    width: 100%;
}

#our-team{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#our-team .a-img{
    background-image: url(michael-carter.jpeg);
}

#our-team .b-img{
    background-image: url(olivia-williams.jpeg);
}

#our-team .c-img{
    background-image: url(daniel-johnson.jpeg);
    
}

#our-team .d-img{
    background-image: url(sarah-mitchell.jpeg);
    
}

.team-a .a-img,
.team-b .b-img,
.team-c .c-img,
.team-d .d-img {
  background-size: cover;
  position: relative;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

#our-team .team-con{
    display: flex;
    align-items: center;
    justify-content: center;
}

#our-team p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #0D121E;
    width: 90%;
}

#our-team .team-con h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color:#0D121E;
    font-weight: bold;
}

#our-team .team-title h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #61927F;
    text-align: center;
    margin: 0;
    font-weight: bold;
    margin-bottom:60px;
}

#our-team .team-con > div {
    flex: 1;
    }

    #our-team a{
        float: right;
        color: #61927F;
        margin-right: 10%;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    #our-team a:hover{
        color: #55776A;
    }

    .team-c a, .team-d a{
        margin-top: 20px;
    }

    @media only screen and (max-width: 992px){
        .team .container{
            min-height: 110vh;
        }
        
        #our-team{
            min-height: 110vh;
        }

        #our-team .team-con{
            display: block;
        }

        .team-a, .team-b, .team-c, .team-d {
            height: 24vh;
            display:block;
            margin-top: 10px;
        }

        .team-a .a-img, .team-b .b-img, .team-c .c-img, .team-d .d-img {
            float: left;
            width: 125px;
            height: 125px;
            margin-right: 20px;
            margin-top: 0;
        }

        #our-team .team-title h1{
            font-size: 24px;
            margin-bottom: 8vh;
        }

        #our-team .team-con h1{
            font-size: 20px;
            width: 100%;
            position: relative;
        }

        #our-team p{
            font-size: 12px;
            width: 100%;
            margin-left: auto;
            position: relative;
        }

        #our-team a{
            margin: 0;
            font-size: 14px;
        }
    }
/* END OF TEAM SECTION */

/* FOOTER SECTION */
.contact .container{
    height: 400px;
    width: 100%;
}

#contact-us{
    height: 400px;
    position: relative;
    display: flex;
    background-color: #61927F;
    background-size: cover;
    color: #F0F0F0;
}

#contact-us h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#contact-us p{
    font-family: Arial, Helvetica, sans-serif;
}

#contact-us a{
    text-decoration: none;
    color: #F0F0F0;
    font-family: Arial, Helvetica, sans-serif;
}

.content-con{
    display: flex;
    margin-top: 50px;
    height: 300px;
    width: 100%;
}

.left{
    width: 1400px;
}

.left h1{
    font-size: 28px;
    font-weight: bold;
    width: 50%;
    margin-bottom: 25px;
}

.left p{
    width: 65%;
    margin-bottom: 25px;
    font-size: 18px;
}

.left .contact-btn{
    background-color: transparent;
    border: 2px solid #F0F0F0;
    width: 250px;
    height: 40px;
    border-radius: 25px;
    font-size: 18px;
    color: #F0F0F0;
    font-family: Arial, Helvetica, sans-serif;
}

.left .contact-btn:hover{
    background-color: #F0F0F0;
    color:#61927F;
}

.center{
    width: 500px;
}

.center h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

.center a{
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
}

.right{
    width: 500px;
}

.right h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

.right p{
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 15px;
}

.right a{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer{
    margin-top: 10px;
}
.footer .line{
    background-color: #F0F0F0;
    width: 100%;
    height: 1px;
}
.footer p{
    text-align: center;
    margin-top: 10px;
}

@media only screen and (max-width: 992px){
    .contact .container{
        height: 100vh;
    }

    #contact-us{
        display: block;
        height: 100vh;
    }

    .content-con{
        display: block;
        padding-top: 60px;
        height: 580px;

    }

    /* .left p{
        width: 30%;
    } */

    .left h1{
        font-size: 24px;
    }

    .left h1, .center h1, .right h1{
        margin-bottom: 20px;
    }

    .center h1, .right h1{
        font-size: 20px;
    }

    .left p, .left a, .center a, .right p, .right a{
        font-size: 16px;
        margin-bottom: 15px;
    }

    .center a{
        display: inline;
        margin-right: 50px;
    }

    .left, .center, .right{
        width: 100%;
        margin-bottom: 35px;
    }

    .left .contact-btn{
        width: 225px;
        height: 30px;
        font-size: 16px;
    }

    .footer{
        margin-top: 40px;
    }
}
/* END OF FOOTER SECTION */